---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Learn to code">
	<div>
		<p>HTML CSS with Free code camp</p>
		<p>https://www.freecodecamp.org/learn/2022/responsive-web-design/</p>
	</div>
	<div>
		<p>JS with Free Code Camp</p>
		<p>https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures-v8/</p>
	</div>
	<div>
		<p>full stack open</p>
	</div>
	<div>
		<p>algorithms with front end masters and neetcode.io</p>
	</div>
	<div>
		<p>Projects</p>
	</div>
</Layout>

<style>
	p {
		color: white;
	}
</style>
