---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Learn to code">
	<p>HTML CSS and JS with Free code camp</p>
	<p>full stack open</p>
	<p>algorithms with front end masters</p>
</Layout>

<style>
	p {
		color: white;
	}
</style>
