---
import Layout from "../layouts/Layout.astro";
import Step from "../components/Step.astro";
---

<Layout title="Learn to code">
    <div class="main">
        <div class="steps-container">
            <Step header="HTML and CSS">
                <a
                    href="https://www.freecodecamp.org/learn/2022/responsive-web-design/"
                    >Free code camp</a
                >. Do all the modules. Don't do the certification projects.
                Don't need to memorize anything.
            </Step>

            <Step header="Basic Javascript">
                <a
                    href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures-v8/"
                    >Free Code Camp</a
                >. Do all the modules. Don't do the certification projects.
                Don't need to memorize anything.
            </Step>

            <Step header="Full Stack Web Development">
                <a href="https://fullstackopen.com/en/">full stack open</a>. Do
                all the modules.
            </Step>

            <Step header="Algorithms">
                algorithms with front end masters and neetcode.io
            </Step>

            <Step header="Projects"> text</Step>
        </div>
    </div>
</Layout>

<style>
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        text-align: left;
        font-size: large;
    }

    .steps-container {
        color: white;
        width: 50%;
    }

    .header {
        font-size: xx-large;
        border-bottom: solid white;
    }

    .step {
    }
</style>
